<!DOCTYPE html>
<html>
    <head>
        <title>Shire Stats</title>
    </head>
    <body >
        <h1 position="center">Shire Stats</h1>
        <table class="table table-responsive">
        	<tr border="1" style="width:100%">
        		<td>Lift</td>
        		<td>Record</td>
        		<td>Holder</td>
        	</tr>
        	<tr>
        		<td>Pull Ups</td>
        		<td>6</td>
        		<td>Aman Agarwal</td>
        	</tr>
        </table>
    </body>

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</html>
